.navbar {
  background-color: #fd8a8a;
  padding: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between; /* spreads items */
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 0 15px;
  cursor: pointer;
  font-weight: 600;
}
