*{
    margin-top:5px;
}
.ol{
    display:flex;
    justify-content :space-evenly;
    list-style-type: none;
    padding:10px;
    
}
header{ 
    background-color: pink;
    padding : 1px;

}
.li{
    text-decoration: none;
    font-size: 30px;
    padding:5px;

}
.li:hover{
    background-color: green;
    color :white;
    border-radius: 12px;
    padding:10px;
}
#skills:target {
    display: block;

}
#skills {
    display: none;
    text-decoration: none;
}
